.flex-row {
  align-items: center;
  display: flex;
  height: 32px;
  min-width: 335px;
  position: relative;
}
.group-212 {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  min-height: 503px;
  padding: 21px 0;
  position: relative;
  width: 375px;
}
